* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 20px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #3A3B3C;
    border-radius: 20px;
}

body {
    background-color: #18191A;
    display: block;
}

header {
    background-color: #1c1e21;
    height: 55px;
    border-bottom: 1px solid #4B4C4F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-search-container {
    display: flex;
}

.logo-search-container svg {
    color: #4287f5;
    font-size: 40px;
    margin-right: 7px;
    background-color: white;
    border-radius: 50%;
}

.search-container {
    height: 40px;
    width: 240px;
    padding: 0 20px;
    background-color: #3A3B3C;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-container svg {
    color: #b0b3b8;
    font-size: 18px;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
}

.search-container input {
    height: 40px;
    width: 100%;
    color: #B0B3B8;
    padding: 7px 8px 9px 8px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
}

.search-container input::placeholder {
    color: #B0B3B8;
}

.pages-container {
    width: 45%;
    max-width: 590px;
    height: 100%;
    display: flex;
}

.pages-icon-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pages-icon-container:nth-child(1) {
    border-bottom: 3px solid #2374e1;
}

.pages-icon-container:nth-child(6) {
    display: none;
}

.pages-icon-container img {
    height: 24px;
}

.pages-icon-container svg {
    color: #B0B3B8;
    font-size: 24px;
}

.pages-icon-container:nth-child(1) svg {
    color: #2374e1;
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 287px;
    justify-content: flex-end;
}

.button-border {
    background-color: #3A3B3C;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-border a {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.button-border:nth-child(4) {
    background-image: url(./resources/mark_zuckerberg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.button-border svg {
    font-size: 20px;
    color: #E4E6Eb;
}

.content {
    display: flex;
    justify-content: center;
}

.posts-container {
    width: 590px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
    margin-top: 55px;
}

.header-posts {
    width: 100%;
    height: 123px;
    padding: 12px 16px 10px 16px;
    background-color: #1c1e21;
    border-radius: 8px;
}

.post-input-container {
    display: flex;
    align-items: center;
    gap: 7px;
}

.post-input-container img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.post-input-container .search-container {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    background-color: #3A3B3C;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-input-container .search-container input {
    height: 40px;
    width: 100%;
    color: #B0B3B8;
    padding: 7px 8px 9px 8px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 17px;
}

.post-options-container {
    width: 100%;
    margin-top: 12px;
    padding-top: 8px;
    border-top: 1px solid #4B4C4F;
    display: flex;
    align-items: center;
}

.post-option {
    padding: 8px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    cursor: pointer;
}

.post-option:hover {
    background-color: #3A3B3C;
}

.post-option img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.post-option svg {
    font-size: 24px;
    margin-right: 3px;
}

.post-buttons .post-option svg {
    color: #B0B3B8
}

#option-video svg {
    color: #f02849;
}

#option-picture svg {
    color: #45bd62;
}

#option-feeling svg {
    color: #f7b928;
}

.post-option span {
    font-size: 14px;
    font-weight: 500;
    color: #b0b3b8;
}

.stories {
    display: flex;
    column-gap: 8px;
}

.storiesCard {
    width: 100%;
    padding: 10px;
    aspect-ratio: 11 / 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.storiesCard:hover {
    transform: scale(1.02);
}

.storiesCard img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid #2374e1;
}

.storiesCard p {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.post {
    width: 100%;
    border-radius: 8px;
    background-color: #1c1e21;
}

.title-post-container {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
}

.post-avatar {
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin-right: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.post-texts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-title {
    font-size: 15px;
    font-weight: 600;
    color: #E4E6Eb
}

.post-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-time {
    font-size: 14px;
    font-weight: 400;
    color: #B0B3B8
}

.medium-button-border {
    height: 36px;
    width: 36px;
    min-width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.medium-button-border:hover {
    background-color: #3A3B3C;
}

.medium-button-border svg {
    font-size: 25px;
    color: #B0B3B8;
}

.post-description {
    font-size: 15px;
    color: #E4E6Eb;
    font-weight: 400;
    word-wrap: break-word;
    padding: 4px 16px 16px 16px;
}

.post-image {
    width: 100%;
}

.post-info {
    height: 44px;
    margin: 0 16px;
    padding: 10px 0;
    border-bottom: 1px solid #4B4C4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info span {
    font-size: 15px;
    font-weight: 400;
    color: #B0B3B8;
}

.likes-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.likes-container img {
    width: 18px;
    height: 18px;
}

.com-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post-buttons {
    height: 44px;
    margin: 0 16px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.post-option:nth-child(4) {
    width: 60px;
}

.post-option:nth-child(4) img {
    border-radius: 50%;
    margin: 0;
}

.side-menu {
    width: calc(50vw - 310px);
    max-width: 300px;
    overflow-y: auto;
    height: calc(100vh - 55px);
    padding: 0 8px;
    position: fixed;
    top: 55px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.menu-section {
    padding: 16px 0 12px 0;
}

.com-borda {
    border-bottom: 1px solid #4B4C4F;
}

.menu-item {
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 0 8px;
    gap: 10px;
}

.menu-item:hover {
    background-color: #3A3B3C;
    cursor: pointer;
}

.menu-item img {
    height: 28px;
    width: 28px;
}

.menu-item svg {
    font-size: 22px;
    color: #B0B3B8;
    margin: 0 2px;
}

.menu-item .img-redonda {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.menu-item span {
    font-size: 16px;
    font-weight: 500;
    color: #E4E6Eb;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
}

.menu-item .button-border {
    width: 25px;
    height: 25px;
}

.section-title {
    font-size: 17px;
    font-weight: 500;
    color: #b0b3b8;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    display: -webkit-box;
    padding: 0 8px 8px 8px;
}

.credits {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px 16px 8px;
}

.credit-item {
    color: #B0B3B8;
    font-weight: 400;
    font-size: 13px;
    white-space: pre-wrap;
}

.credit-item::after {
    content: " · ";
}

.credit-item:last-child:after {
    content: "";
}

.header-section {
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.minor-button-border {
    height: 32px;
    width: 32px;
    min-width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.minor-button-border:hover {
    background-color: #3A3B3C;
}

.minor-button-border svg {
    font-size: 20px;
    color: #B0B3B8;
}

.login-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.info-container {
    padding-bottom: 100px;
    background-color: #f0f2f5;
}

.warning-container {
    background-color: red;
    color: white;
    border: 5px solid yellow;
    padding: 15px;
    margin: 15px auto;
    text-align: center;
    max-width: 900px;
}

.warning-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.warning-container h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.warning-container p {
    font-size: 20px;
}

.warning-container p:first-of-type {
    margin-bottom: 10px;
}

.info-content {
    margin: 0 auto;
    width: 78%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}

.logo-container img {
    width: 250px;
    margin: 0 0 10px 0;
}

.logo-container p {
    font-size: 28px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 40px;
}

.form-container p {
    margin-top: 28px;
    font-size: 14px;
    text-align: center;
}

.form-container p span {
    font-weight: bold;
}

.form-container p span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 18px 18px 24px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
}

.form input {
    width: 100%;
    padding: 14px 16px;
    height: 52px;
    border-radius: 6px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    color: #1d2129;
}

.form input:focus {
    border: 1px solid #fff;
    outline: 1px solid #1877f2;
}

.form span {
    color: #1877f2;
    font-size: 14px;
    padding: 2px 0 20px 0;
    border-bottom: 1px solid #dddfe2;
    width: 100%;
    text-align: center;
}

.form span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form a {
    width: 100%;
    height: 52px;
    color: #fff;
}

.login-button {
    width: 100%;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    height: 52px;
    font-size: 20px;
    font-weight: bold;
}

.create-button {
    margin-top: 10px;
    width: 60%;
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    height: 52px;
    font-size: 17px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

footer {
    padding-top: 20px;
    background-color: white;
}

.texts-container {
    color:#737373;
    margin: 0 auto;
    width: 78%;
}

.languages-container {
    padding: 8px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.languages-container span {
    font-size: 12px;
    padding-right: 10px;
}

.languages-container span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.links-container {
    padding-top: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #dddfe2;
}

.links-container span {
    font-size: 12px;
    padding-right: 20px;
    height: 20px;
}

.links-container span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.credits {
    padding: 16px 0;
}

.credits span {
    font-size: 11px;
}

@media (max-width: 1024px) {
    .logo-search-container {
        width: 181px;
    }
    
    .search-container {
        width: 40px;
        padding: 0 12px;
    }

    .logo-search-container .search-container input {
        display: none;
    }

    .buttons-container {
        width: auto;
    }

    .content {
        justify-content: flex-start;
        padding-left: 40px;
    }
    
    .side-menu {
        width: calc(100vw - 640px);
    }
    
    .left {
        display: none;
    }

}

@media (max-width: 900px) {
    .info-container {
        height: auto;
        padding-bottom: 72px;
    }
    
    .info-content {
        flex-direction: column;
    }

    .logo-container {
        align-items: center;
        width: 75%;
    }

    .logo-container p {
        text-align: center;
    }

    .form-container {
        width: 75%;
    }
}

@media (max-width: 840px) {
    .content {
        justify-content: center;
        padding-left: 0;
    }
    
    .right {
        display: none;
    }
}

@media (max-width: 640px) {
    .logo-search-container {
        width: auto;
        margin-right: 10px;
    }
    
    .pages-icon-container {
        display: none;
    }

    .pages-icon-container:nth-child(6) {
        display: flex;
        justify-content: flex-start;
        width: auto;
    }
}

@media (max-width: 580px) {
    .logo-container {
        width: 90%;
    }
    
    .form-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .post-option:nth-last-child(1) {
        display: none;
    }
}